.add-cell{
    position: relative;
    margin: 50px;
}

.add-cell .divider{
    position: absolute;
    top: 50%;
    bottom: 50%;
    border-bottom: 1px solid rgb(47, 170, 16);
    width: 100%;
    z-index:-1;
}

.add-cell .add-btn {
    display: flex;
    justify-content: center;

}

.add-cell .add-btn button {
    margin: 0 20px;
}