._editor{
    height: 500px;
    border: 1px solid #ccc;

}

.editor-wrapper{
    position: relative;
    height: 100%;
    width: 100%;

}

.editor-wrapper .button-format {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 20;
    opacity: 0;
    transition: opacity .3s;
}

.editor-wrapper:hover .button-format {
    opacity: 1;
}